@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');

/* CSS VARIABLES  */
:root{  --header-height: 80px;
        /* fonts family  */
  --body-font: 'Open Sans', sans-serif;
  --title-font: 'Raleway', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /* colors */

  --first-color: hsl(201.2,27.9%,12%);
  --first-color-second: hsl(190, 64%, 22%);
  --first-color-alt: hsl(190, 64%, 15%);
  --title-color: hsl(190, 64%, 18%);
  --text-color: hsl(190, 24%, 35%);
  --text-color-light: hsl(190, 8%, 60%);
  --input-color: hsl(210,25.9%,89.4%);
  --body-color: hsl(190, 100%, 99%);
  --white-color: hsl(0, 0%, 100%);
  --scroll-bar-color: hsl(190, 49%, 24%);
  --scroll-thumb-color: hsl(190, 12%, 75%);

  --warnin-color:hsl(32.2,72.5%,58.6%);
  --alert-color:hsl(357.7,63.6%,51.6%);
  --black-color:hsl(201.2,27.9%,12%);
  --black_2-color:hsl(201.4,14.6%,18.8%);
  --black_3-color: hsl(190.5,51.3%,15.3%);
  --primary-color:hsl(189.7,33%,59.6%);
  --primary_2-color:hsl(190.3,24.6%,53.7%);
  --primary_3-color: hsl(200.8,36.1%,71.8%);
  --secondary-color:hsl(10.3,75.5%,71.2%);
  --secondary_2-color:hsl(20,16.7%,71.8%);


  /*z-index*/

  --z-tooltip: 10;
  --z-fixed: 100;

  /* margins B*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;


  /* size header*/
  --size-header:80px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

button, input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.App {
  text-align: center;
 /* display: flex;*/
  justify-content: center;
  align-items: center;

}
.body_per{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--text-color);
}
/*
.box_search{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: burlywood;

}
.search{
  position: relative;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px var(--warnin-color);
}
.search .icon{
position: absolute;
top:0;
left:0;
width: 60px;
height: 60px;
background-color: white;
border-radius: 60px;
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
cursor: pointer;
}

.search .icon::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  transform:translate(-4px,-4px);
}

.search .icon::after{
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: var(--primary-color);
  transform:translate(6px,6px) rotate(315deg);
}
.search.active{
width:360px;

}
*/

